$theme-colors: (
  "primary": #093ea8,
  "secondary": #3bd7ec,
  "success": #22e11c,
  "info": #d9ff50,
  "warning": #ffbe0b,
  "danger": #ff0000,
  "light": #c0ccda,
  "dark": #000103,
);


$font-sizes: (
  1: 64px,
  2: 40px,
  3: 24px,
  4: 18px,
  5: 16px,
  6: 14px,
);

$dropdown-link-active-color: #000103;
$dropdown-link-hover-bg: #ffbe0b;
$dropdown-link-active-bg: #ffbe0b;


/* Accueil */

/* firstCard */
#monaco {
  list-style-type: square;
}

.main {
  position: relative;
  background-image: url("../../public/assets/accueilBG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.alignText {
  margin-top: 30vh;
}

/* Third Card */
.mainThird {
  position: relative;
  background-image: url("../../public/assets/thirdcardbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.mainThird::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.9)
  );
}

#imgthird {
  margin-top: 80px !important;
}

#mainSixth {
  z-index: 1;
  position: absolute;
  margin-left: 50vh;
  width: 400px;
}
#cards {
  width: 18rem !important;
}

.tenthCard {
  position: relative;
  background-image: url("../../public/assets/tenthImg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.tenthCard::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.5)
  );
}

#feedback {
  margin-top: -20vh;
  margin-left: 40vh;
}

#cardTenth img {
  width: 50px;
}
#mascotSixth {
  position: relative;
  margin-left: 155vh;
  margin-top: 10vh;
  transform: rotate(50deg);
}

#secondNinthImg {
  margin-top: -40vh;
  margin-left: 15vh;
}
.elevenCard {
  margin-top: 30vh;
  padding: 10px;
}

.twelfthCard {
  position: relative;
  background-image: url("../../public/assets/twelfthCardimg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.twelfthCard::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.8)
  );
}

#contentTweflth {
  margin-top: 25vh;
}

#marginText {
  margin-top: 140px;
}

#paragraph {
  font-size: 12px;
}

/* CardCarousel */
#dataImg {
  position: relative;
  width: 300px;
  background-image: url("../../public/assets/service1.png");
  background-size: contain;
  height: 60vh;
  background-repeat: no-repeat;
}
#dataImg2 {
  position: relative;
  width: 300px;
  background-image: url("../../public/assets/service2.png");
  background-size: contain;
  height: 60vh;
  background-repeat: no-repeat;
}
#dataImg3 {
  position: relative;
  width: 300px;
  background-image: url("../../public/assets/service3.png");
  background-size: contain;
  height: 60vh;
  background-repeat: no-repeat;
}

/* #dataImg3::before,
#dataImg2::before,
#dataImg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 1)
  );
} */

#marginText {
  margin-top: 140px;
}

// @media   (max-width: 390px) {
//   .mainThird,
//   .main {
//     height: 100vh;
//   }
//   #dataImg3,
//   #dataImg2,
//   #dataImg {
//     height: 40vh;
//   }

//   #feedback {
//     margin-top: 5vh;
//     margin-left: 0vh;
//   }
// }
@media (min-width: 390px) and (max-width: 576px) {

  .alignText {
    margin-top: 10vh;
  }

  #mainSixth {
    width: 10vh !important;
  }
  
  .main {
    height: 60vh;
  }

  .twelfthCard {
    height: 70vh;
  }

  #dataImg3,
  #dataImg2,
  #dataImg {
    height: 40vh;
  }

  

}

@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/bootstrap";
